<div class="panel panel-default">
	<div class="panel-heading"><h4>Exportar notas segun nivel elegido</h4></div>
	<div class="panel-body">
		<div ng-controller='exportNivelCtrl'>
			<select ng-show='mostrarNiveles' name="niveles" ng-model='nivelSelec' ng-change='getNotas(nivelSelec)' class="form-control">
				<option ng-repeat='nivel in niveles.data' value='// nivel.id //'>// nivel.nombre_nivel //</option>
			</select>
			<h5 ng-hide='mostrarNiveles'><em>Cargando niveles.</em></h5>
			<p ng-show='debug'>//nivelSelec//</p>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading"><h4>Exportar promedios por todos los niveles</h4></div>
	<div class="panel-body">
		<div ng-controller='exportCtrl'>
			<h5 ng-hide='datosCargados'><em>Cargando información</em></h5>
		<h5 ng-show='datosCargados'><em>Información cargada</em></h5>
		<a ng-show='datosCargados' ng-click="DescargaExcel(2016)" class='btn btn-info btn-md'>Exportar a Excel del 2016</a>
		<div id='exportable' ng-show='false'><table>
			<thead>
				<tr>
					<th>Nivel</th>
					<th>Materia</th>
					<th>Periodo</th>
					<th>Promedio</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='item in NivPerNormalizado'>
					<td>// item.nivel //</td>
					<td>// item.materia //</td>
					<td>// item.periodo //</td>
					<td>// item.promedio //</td>
				</tr>
			</tbody>
		</table></div>
		</div>
	</div>
</div>

