<div class="row">
	<div class="col-md-7 col-xs-10">
		<div class="panel panel-default">
			<div class="panel-heading"><h3>Admininistración de Asistencias automáticas.</h3><a href class='btn btn-info' ng-click='vm.verAsis()'>Mostrar u ocultar</a></div>
			<div class="panel-body" ng-show='vm.muestraAsis'>
				<a href class='btn btn-info' ng-click='vm.verHerr()'>Oprima pare ver u ocultar las herramientas</a>
				<p>En este espacio se verán los eventos de asistencia</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-md-offset-1 col-xs-2" ng-show='vm.muestraAsis && vm.muestraHerr'>
		<div class="panel panel-default">
			<div class="panel-heading"><h4>Herramientas</h4></div>
			<div class="panel-body">
				<p>Panel de herramientas</p>
			</div>
		</div>
	</div>
</div>